/* ------------------------------------------------------------------------------------------*/
/*  Style management for post display                                                        */
/* ----------------------------------------------------------------------------------------- */

.post{
background-color: white;
color: $blue;
display: inline-block;
}




















/* ------------------------------------------------------------------------------------------*/
/*  End of file                                                                              */
/* ----------------------------------------------------------------------------------------- */