/* ------------------------------------------------------------------------
 * Style sheet in order to manage the design of the Index page
 * 
 * Feel free to change them and create your own
 * ---------------------------------------------------------------------  */


/*  ------------------------------------------------------------------------
 * Customized class
 * -----------------------------------------------------------------------  */

.index-Card{
	background-size: cover;
	height: 700px;
 	color: white;
 }

 .index-Card-Into{
 	width: 700px;
 	padding: 50px;
	margin: 0, auto;
}


/*  ------------------------------------------------------------------------
 * Customized Component configuration
 * -----------------------------------------------------------------------  */

#Index-Intro{
	position: relative;
 	background-image: image-url("Index-Div-Intro-clock.jpg");
 }

 #Index-Intro-Text{
 	position: absolute;
 	top: 15%;
 	right: 18%;  
 }

 #Index-Newsletter{
 	background-color: $gray-lighter;
 }


 #Index-BlogSample{
 	background-color: $blue;
 }

 #Index-BlogSample-Posts{
 	margin: 0, auto;
 }
 








