<!----------------------------------------------------------------------------------------- -->
<!------------------------------- Post template        ------------------------------------ -->
<!---- HTML template of the post to re-use into this site --------------------------------- -->
<!----------------------------------------------------------------------------------------- -->

<div class="container">
	<div class="row">
		<div class="post">
			<h3> <%= post.title %> </h3>
			 <p> <%= post.content%> </p>
			 <%= image_tag post.image , class: "img-circle" %>
		</div>	
	</div>
</div>
